:root{
    --navy-blue: #2E2F42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --cloud:#F4F4FD;
    --cornflower: #E7E9FC;
    --white: #ffffff;
    --green: #31D0AA;
}
body{
    background: var(--white);
    color: var(--slate);
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
img{
    display: block;
}
.logo{
    margin-right: 76px;
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.02em
}
.link{
    text-decoration: none;
}
.nav .header-text{
    color: var(--navy-blue);
}
.studio-color{
    color: var(--navy-blue);
}
.studio-color-footer{
    color: var(--cloud);
}
.list{
    list-style: none;
}
/* portfolio styles */

.site-nav a{
    color:var(--navy-blue);
}
.site-nav .link{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 1s;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--ocean);   
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.address .link:hover,
.address .link:focus{
    color: var(--ocean);
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.auth-nav a{
    color:var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 1s;
}
.current{
    position: relative;

}
.current::after{
    display: block;
    left: 0;
    position: absolute;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
}
.address{
    font-style: normal;
}
.auth-nav a:hover, .auth-nav a:focus{
    color:var(--iris);
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.section-title{
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.section .title{
    color: var(--navy-blue);
}
.section .button{
    color: #ffffff;
    background-color: var(--iris);
    padding: 16px 32px;
    border: 1px solid transparent;
    margin-top: 48px;
}
.button{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    text-align: center;
    color: var(--iris);
    background-color: var(--cloud);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border: 1px solid var(--cornflower);
}
.button:hover,
.button:focus{
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.container.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team-block{
    background-color: var(--cloud);
    padding: 120px 0;
}
.crew {
    padding: 72px 0px;
}
.crew li{
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
}
header a{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header{
    border-bottom: 1px solid var(--cornflower);
}
.flex-header{
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.flex-header .nav, .flex-header .address .list, .site-nav{
    display: flex;
    align-items: center;
}
.address{
    margin-left: auto;
}
.site-nav .item, .auth-nav .item {
    margin-right: 40px;
}
.site-nav .item:last-child, .auth-nav .item:last-child {
    margin-right: 0px;
}
.hero{
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.crew .person{
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.person-padding{
    text-align: center;
    padding: 32px 0;
}
.person-padding .name{
    margin-bottom: 8px;
}
.crew .name{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.crew .job{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.section .title{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section .description{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero .button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}
.customers{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 24px;
     margin-bottom: 120px;
}
.customers-section .section-title{
    margin-bottom: 72px;
}
.customers .item{
    width: calc((100% - 24px*5) / 6);
    height: 88px;
    border: 1px solid var(--light-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.customers .item:hover, .customers .item:focus{
    border: 1px solid var(--ocean, #404BBF);
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.customers .item:hover .icon,
.customers .item:focus, .icon{
    fill: var(--ocean, #404BBF);
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.customers  .icon{
    fill: var(--light-slate);
}
.icon-wrap, .icon-wrap-footer{
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrap:hover, .icon-wrap:focus{
    background-color: var(--ocean);
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.icon-wrap-footer:hover, .icon-wrap-footer:focus{
    background-color: var(--green);
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.flex-social-icon{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}
.team-block .flex-social-icon{
    justify-content: center;
    gap: 24px;
}
.social-title{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
/* studio styles */
.flex-button{
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    /* gap: 24px; */
    row-gap: 48px;
}
.flex-button li{
    margin-right: 24px;
}
.flex-button li:last-child{
    margin-right: 0;
}
.section-title-block{
    max-width: 496px;
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-strategy{
    padding: 120px 0;
}

.strategy-block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.strategy-block .item{
    width: calc((100% - 3 * 24px) / 4);
    margin-right: 24px;
}
.strategy-block .icon-wrap{
    width: 264px;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.strategy-block{
    margin-bottom: 8px;
}
.strategy-block .title{
    margin-bottom: 8px;
}
.strategy-block .item:last-child{
    margin-right: 0;
}

.flex-list, .crew{
    display: flex;
    gap: 24px;
    align-items: center;
}
.section-title.mbh{
    margin-bottom: 72px;
}
.flex-list .item{
    width: calc((100% - 3 * 16px) / 3);
}

.section.list.padding{
    padding: 0px 0px 120px;
}
.portfolio-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}
.portfolio-block{
    width: calc((100% - 48px) / 3);
}
.portfolio-block:hover,
.portfolio-block:focus{
    transition: 250ms; 
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-block .wrapper{
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.portfolio-title{
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.portfolio-description{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.button.portfolio{
    width:fit-content;
}
.list.main{
    padding-top: 96px;
    padding-bottom: 120px;
}

/* .current{
    
} */
.overlay{
    position: relative;
    overflow: hidden;
} 
.overlay-text{
    transform: translateY(100%);
    position: absolute;
    transition: transform 250ms ease-in-out; 

    width: 100%;
    height: 100%;
    top: 0;
    padding: 40px 32px;
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    background-color: var(--iris);
}
.link-hover:hover .overlay-text,
.link-hover:focus .overlay-text{
    transform: translateY(0);

}
 .portfolio-block:hover .overlay {
    transform: translateX(0);
  }
  
/* footer */
.footer{
    background-color: var(--navy-blue);
    padding: 100px 0;
}
.footer .slogan{
    width: 264px;
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer .footer-text{
    color: var(--cloud);
}
.logo.link{
    display: inline-block;
}
.logo.link.mbfoot{
    margin-bottom: 16px;
}
.footer .info-block{
    margin-right: 120px;
}
.footer .container{
    display: flex;
}
